body{
  background-color: rgb(0, 0, 0);
  color: white;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Title{
  border: none rgb(0, 0, 255);
  display: flex;
  justify-content: center;
  padding: 20px;
}
/* ----- */
.master{
  border: none black;
  padding: 50px;
  justify-content: center;
  display: flex;
}
/* -------- */
.arena-container{
  justify-content: center;
  border: solid 5px white;
  border-radius: 20px;
  width: 800px;
  padding: 20px;
}
/* -------- */
.statsContainer{
  border: none blue;
  justify-content: center;
  
}

.statsContainer div{
  padding: 10px;
  text-align: center;
}
/* ---------- */
#winsContainer{
  border: none red;
}
#loserContainer{
  border: none red;
}
#roundCount{
  border: none black;
  text-align: center;
  font-size: 20pt;
}
.start-container{
  border: none red;
  justify-content: center;
}

.start{
  width: 100px;
  height: 25px;
}
/* -------- */
.names-container{
  border: none rgb(243, 255, 9);
  display: flex;
}

.names-container div{
  flex: 1;
  border: none red;
  text-align: center;
  font-size: 25pt;
}
/* ------- */
.innerArena-choices-container{
  border: none rgb(255, 0, 187);
  display: flex;
  flex-direction: column;
  width: 800px;
}
/* ------- */
.player-choices-container{
  border: none rgb(20, 255, 87);
  display: flex;
  justify-content: center;
  gap: 10px;
}
.player-choices{
  border: none red;
  width: 150px;
  height: 130px;
  border-radius: 10px;
  transition: all 0.3s;
}
.player-choices:hover{
  cursor: pointer;
  background-color: rgb(188, 188, 188);
  transform: scale(1.1);
  
}

.player-choices:active{
  transform: rotate(6deg);
}

.player-choices:target{
  background-color: rebeccapurple;
}

.scissors-image{
  height: 50px;
  width: 70px;
}

.rock-image{
  height: 122px;
  width: 104px;

}
.paper-image{
  height: 65px;
    width: 69px;
}

/* -------- */
#rps{
  border: none rgb(234, 255, 0);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rps div{
  border: none red;
  padding: 70px;
  height: 3px;
}

#winner{
  padding: 200px;
}
/* --------- */
.computer-choices{
  border: none red;
  padding: 45px;
}
.computer-choices-container{
  border: none red;
  flex-direction: column;
  display: flex;
}
/* ------- */
.scores-container{
  border: none red;
  display: flex;
}

.scores-container div{
  text-align: center;
  flex: 1;
  border: none blue;
  font-size: 20pt;
}
