body{
  background-color: rgb(0, 0, 0);
  color: white;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
  /* max-width: 100%; */
  /* height: auto; */
}

@media screen  and (max-width: 700px){
  body {
    height: 50px;
    font-size: 10pt;
    /* flex: 1 0 130px; */
  }

  .master{
    
  }

  #input{
    max-width: 115%;
    padding: 13px;
  }

  .scores-container{
    max-width: 115%;
  }
  .Title {
    font-size: 22px;
  }
  .player-choices {
    height: 100%;
    width: 100%;
  }

  
 .innerArena-choices-container{
  max-width: 99%;
 }

  #player-rock{
    height: 100px;
  }
  #player-paper{
    height: 100px;
  }
  #player-scissors{
    height: 100px;
  }

  .player-choices-container{
    max-width: 100%;
  }

  .statsContainer{
    font-size: 20px;
    display: flex;
  }
  .computer-choices-container {
    flex-direction: column;
    align-items: center;
    width: 10px;
  }

  #rps{
    font-size: 16pt;
    max-height: 600px;
    flex-direction: column;
  }

  #winner{
    max-width: 100%;
  }

  #rps-computer-area{
    max-height: 53%;
  }

  .player-name{
    width: 20px;
  }
  .computer-name{
    width: 20px;
  }

  .rock-image{
    max-height: 100%;
  }

  .paper-image{
    max-height: 60%;
    max-width: 53%;
  }

  .scissors-image{
    max-height: 48%;
  }

 }
 /* ------------- */

.Title{
  border: solid rgb(0, 0, 255);
  display: flex;
  justify-content: center;
}
/* ----- */
.master{
  border: solid black;
  padding: 50px;
  justify-content: center;
  display: flex;
}
/* -------- */
.arena-container{
  justify-content: center;
  border: solid 4px white;
  border-radius: 10px;
  width: 800px;
  padding: 20px;

  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
/* -------- */
.statsContainer{
  border: solid blue;
  justify-content: center;
  
}

.statsContainer div{
  padding: 10px;
  text-align: center;
}
/* ---------- */
#winsContainer{
  border: solid red;
}
#loserContainer{
  border: solid red;
}
#roundCount{
  border: solid black;
  text-align: center;
  font-size: 20pt;
}
.start-container{
  border: solid red;
  justify-content: center;
}

.start{
  width: 100px;
  height: 25px;
}
/* -------- */
.names-container{
  border: solid rgb(243, 255, 9);
  display: flex;
}

.names-container div{
  flex: 1;
  border: solid red;
  text-align: center;
  font-size: 25pt;
}
/* ------- */
.innerArena-choices-container{
  border: solid rgb(255, 0, 187);
  display: flex;
  flex-direction: column;
  width: 800px;
}
/* ------- */
.player-choices-container{
  border: solid rgb(20, 255, 87);
  display: flex;
  justify-content: center;
  gap: 10px;
}
.player-choices{
  border: solid red;
  width: 150px;
  height: 130px;
  border-radius: 10px;
  transition: all 0.3s;
}
.player-choices:hover{
  cursor: pointer;
  background-color: rgb(188, 188, 188);
  transform: scale(1.1);
  
}

.player-choices:active{
  transform: rotate(6deg);
}

.player-choices:target{
  background-color: rebeccapurple;
}

.scissors-image{
  height: 50px;
  width: 70px;
}

.rock-image{
  height: 122px;
  width: 104px;

}
.paper-image{
  height: 65px;
    width: 69px;
}

/* -------- */
#rps{
  border: solid rgb(234, 255, 0);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rps div{
  border: solid red;
  padding: 70px;
  height: 3px;
}

#winner{
  padding: 200px;
  font-size: 15pt;
}
/* --------- */
.computer-choices{
  border: solid red;
  padding: 45px;
}
.computer-choices-container{
  border: solid red;
  flex-direction: column;
  display: flex;
}
/* ------- */
.scores-container{
  border: solid red;
  display: flex;
}

.scores-container div{
  text-align: center;
  flex: 1;
  border: solid blue;
  font-size: 20pt;
}
/* -------- */
.playAgain-container{
  border: solid red;
  justify-content: center;
  display: flex;

  
}

#playAgain{
  background-color: white;
  border: solid;
  padding: 8px;
  border-radius: 5px;
  transition: all 0.3s;
}

#playAgain:hover{
  cursor: pointer;
  background-color: rgb(188, 188, 188);
  transform: scale(1.2);
}
